/* --- Global --- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
    --container: #606060;
    --alt-container: #612626;
    --primary-text: black;
    --secondary-text: grey;
    --primary-btn: #BE0000;
}

body {
    margin: 0;
    padding: 0;
    font-family: Apercu, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--primary-text);
    overflow: overlay;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, #navbar nav, form label {
    font-family: "Open Sans", Roboto, Arial, sans-serif;
}

#separator {
    width: 100%;
    height: auto;
}

/* --- Scroll Bar --- */
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 14px 14px var(--primary-text);
    border: solid 4px transparent;
    border-radius: 14px;
}

::-webkit-scrollbar-button {
    display: none;
}